.heading {
  font-family: "Zilla Slab", serif;
  font-size: 70px;
}
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.top-pg {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-text, .globe {
  width: 40%;
  display: inline-block;
}

.home-text {
  margin: auto 4rem;
}

.secondary-text {
  width: 70%;
  margin: 2rem 0;
}

.globe > img {
}

.home-btn-req{
  border: 1px solid !important;

}

.home-btn-chat {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.stats {
  width: 85%;
  padding: 20px;
  background-color: #e8adf8;
  border-radius: 5px;
  text-align: center;
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.stat {
  max-width: 300px;
}

.top {
  font-size: 20px;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.bottom {
  margin-bottom: 0;
}

h2 {
  font-size: 40px;
  font-weight: 600;
}

.mid-sec {
  margin-top: 4rem;
  margin-bottom: 2rem;
}


.mid-sec>p, .mid-sec>h2 {
  width: 40%;
  text-align: center;
  margin: auto;
}

.home-form {
  margin: auto 10rem !important;
}

.btn-home {
  color: white !important;
  width: 10rem;
}

.home-icon {
  position: absolute;
}

.car {
  top: 95%;
  left: 5%;
}

.airplane {
  right: 5%;
  bottom: -20%;
}

.bottom-image, .bottom-text {
  width: 50%;
  display: inline-block;
}

.bottom-image {
  margin: auto;
  text-align: center;
}

.bottom-text {
  width: 40%;
}

.btn-bottom {
  text-align: left !important;
}

.stamp {
  bottom: -80%;
  right: 8%;
}

@media screen and (max-width: 800px) {
  body {
    background-color: lightblue;
  }
  .home-text, .globe {
    width: 80%;
    display: inline-block;
  }

  .heading {
    font-family: "Zilla Slab", serif;
    font-size: 40px;
  }
