html, body {
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x:hidden;
}

.w-100 {
  width: 100%;
  overflow: auto;
  overflow-x:hidden;
}

.top-pg {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.home-text, .globe {
  max-width: 400px;
  min-width: 200px;
  display: inline-block;
}

.globe > img{
  width: 100%;
}

.heading {
  font-family: "Zilla Slab", serif;
  font-size: 50px;
  max-width: 350px;
  line-height: normal;
}

.heading_txt {
  display: inline;
  /* color: var(--primary-color); */
  text-decoration-color: var(--primary-color) !important;
  text-decoration: underline;
}
.secondary-text {
  margin: 2rem 0;
}


.button {
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 10px;
}

.button:hover {
    background-color: #111 !important;
    transition: background-color 0.35s ease-in-out, border-color 0.15s ease-in-out;
}

.home-btn-travel {
  border:2px solid var(--primary-color) !important;

}

.stats {
  width: 95%;
  padding: 20px;
  background-color: #eee;
  color: #111;
  border-radius: 5px;
  text-align: center;
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.stat {
  max-width: 250px;
}

.top {
  font-size: 20px;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.bottom {
  margin-bottom: 0;
  font-size: 14px;
  color: #555;
}

.home-form {
  font-size: 15px;
  padding: 0 60px;
}

.form-group {
  padding-top: 20px;
}

h2 {
  font-size: 40px;
  font-weight: 600;
}

.mid-sec {
  margin-top: 4rem;
  margin-bottom: 2rem;
    margin-top: 10%;
}

.mid-sec>p, .mid-sec>h2 {
  max-width: 300px;
  text-align: center;
  margin: auto;

}

.btn-home {
  background-color: var(--primary-color) !important;
  color: white !important;
  width: 10rem;
  
}

.home-icon {
  position: absolute;
  z-index: -1;
}

.car {
  top: 95%;
  left: 5%;
}

.airplane {
  right: 5%;
  bottom: -20%;
}

.bottom-section {
  margin-top: 50px;
  overflow:hidden;
}
.bottom-content {
  display: flex;
  justify-content: space-around;

}
.bottom-text {
  max-width: 400px;
  padding: 20px;
}

.stamp {
  bottom: -80%;
  right: 8%;
}

.bottom-image {
  max-width: 500px;
}

.bottom-image  > img {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .globe {
    width: 200px;
    display: inline-block;
  }
  .secondary-text {
    margin: 1rem 0;
    font-size: 15px;
  }

  .home-text{
    max-width: 300px;
  }

  .heading {
    font-family: "Zilla Slab", serif;
    font-size: 40px;
  } 

  .stats {
    width: 100%;
  }

  .stat {
    max-width: 200px;
    margin: 10px;
  }

  .top {
    font-size: 15px;
    font-weight: 400;
  }
  
  .bottom {
    font-size: 12px;
  }

  .home-form, select {
    font-size: 12px !important;
    padding: 0 20px;
  }
  .mid-sec {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .heading {
    font-size: 40px;
  } 
  body {
    background-color: lightblue;
  }
  .globe {
    display: none;
  }
  .secondary-text {
    margin: 1rem 0;
    font-size: 12px;
  }
  .home-text{
    width: 95% !important;
    max-width: 100% !important;
  }

  .heading {
    width: 100% !important;
    max-width: 100% !important;
    font-size: 30px;
  }

  .home-icon {
    width: 70px;
  }

  h2 {
    font-size: 20px !important;
    font-weight: 500;
  }

  .bottom-section p, .mid-sec p {
    font-size: 12px;
  }

  .bottom-content {
    flex-wrap: wrap;
  }
  
}