.logo {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.logo-link {
    display: flex;
}

.link {
    color: #333;
    text-decoration: None;
    padding: 10px;
    margin: 0 20px;
    font-weight: 500;
}

.link:hover {
    color: var(--primary-color);
    transition: color 0.35s ease-in-out, border-color 0.15s ease-in-out;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-bottom: 40px;
}

.nav-content {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.chat-btn {
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

.chat-btn:hover {
    background-color: #111;
    transition: background-color 0.35s ease-in-out, border-color 0.15s ease-in-out;
}

@media screen and (max-width: 800px) {
    a  {
        font-size: 12px;
    }

    .logo > img{
        height: 20px;
    }
    .navbar {
        display: flex;
        justify-content: center;
        padding: 15px;
        padding-bottom: 20px;
    }
    
    .nav-content {
        display: flex;
        width: 95%;
    }
  }