.logo {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.nav-content {
    display: flex;
    width: 85%;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    
}

.req-btn {
    background-color: transparent;
    border: none !important;
}

.req-btn:hover {
    background-color: #EDE6F3;
}

.login-btn {
    background-color: var(--primary-color);
    color: white;
}

.signup-btn {
    border: 2px solid var(--primary-color);
}

.signup-btn:hover{
    background-color: var(--primary-color);
    color: white;
}

.login-btn:hover {
    border: 2px solid var(--primary-color);
    color: black;
}

.navbar {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.btn {
    height: 3rem;
    margin: 5px;
    padding-left: 15px;
    padding-right: 15px;
}


.features {
    display: inline-block;
    justify-content: center;
    /* position: absolute; */
}