.chat {
    display: flex;
    justify-content: center;
    padding: 2rem;
    width: 100%;
}

.chat-interface {
    position: relative;
    width: 85%;
    display: inline;
    height: 600px;
    overflow: hidden;

}

.side-menu {
    width: 30%;
    /* position: sticky; */
    /* position: fixed; */
    
    display: inline-block;
}

.questions {
    border: 1px solid;
    border-radius: 10px;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.question {
    border-bottom: 1px solid;
    height: 3rem;
    width: 20rem;
    margin-top: 1rem;
}

.question:hover {
    background-color: #E39FF6;
    text-align: center;
    border: none;
    border-radius: 2rem;
    cursor: default;
    /* display: flex; */
    align-items: center;
}

.faq-title {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}


div > .cs-message__content-wrapper > .cs-message--outgoing .cs-message__content {
    background-color: #E39FF6 !important;
}

div > .cs-message-list{
    overflow-y: scroll;
    overflow: hidden;
}

div > .cs-message__content-wrapper > .cs-message__content-wrapper {
    background-color: #FAE6FA !important;
}

div > .cs-typing-indicator > .cs-typing-indicator__text{
    position: absolute;
    bottom: 50px;
    background-color: white;
    width: 100%;
    left: 20px;
}

div>.cs-typing-indicator>.cs-typing-indicator__indicator {
    position: absolute;
    bottom: 50px;
    background-color: white;
    width: 100%;
    height: 60%;
}

div > .cs-chat-container > .cs-message-input{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

/* Media queries */

@media only screen and (max-width: 768px) {
    .chat {
        flex-direction: column;
        align-items: center;
    }

    .chat-interface {
        width: 100%;
        height: 100vh;
    }

    .side-menu {
        width: 100%;
        margin-top: 2rem;
    }

    .questions {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .question {
        width: 100%;
    }

    .faq-title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 480px) {
    .questions {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .faq-title {
        font-size: 20px;
    }
}