button{
    height: 60px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 8px;
    border: none;
    width: 160px;
    font-size: 16px;
}

.button{
    font-weight: bold;
}